.MuiTextarea-root.text-area {
    margin: 10px 0 20px 0;
    height: 300px;
}

.MuiTextarea-root.text-area *::placeholder {
    font-style: italic;
}

.MuiBox-root.card-display {
    margin: 10px;
}

.MuiMenuItem-root.card-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}