.MuiBox-root.profile {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    color: black;
}

.MuiBox-root.profile * {
    width: fit-content;
    margin: auto;
    text-align: center;
} 


.MuiAvatar-root.profile-avatar {
    width: 125px;
    height: 125px;
    outline: 5px solid white;
}


.MuiBox-root.background-profile {
    padding-top: 10px;
    height: 200px;
    width: 100%;
}


.MuiBox-root.background-profile > * {
    margin: 20px auto;
}


.MuiInput-root.username-input {
    width: 75%;
    padding: 0;
    padding-left: 20px;
    border: none;
    box-shadow: none;
    font-size: 20px;
    font-weight: bold;
    
    transition: background-color 0.2s;
}


.MuiTypography-root.username-input {
    padding: 0;
    border: none;
    box-shadow: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    transition: background-color 0.2s;
}

.MuiInput-input {
    text-align: center;
}

.MuiInput-root.username-input:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.MuiInput-root.username-input:first-child {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.MuiTypography-root.username-input:first-child {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}



.MuiButton-root.validate-username-btn {
    background-color: #8a2be299;
}

.MuiButton-root.validate-username-btn:hover {
    background-color: #8a2be2FF;
}


.MuiButton-root.edit-background-profile {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #00000040;
}


.MuiButton-root.edit-background-profile:hover {
    background-color: #00000099;
}


div .avatar-profile {
    background-size: cover;
    position: relative;
    width: 200px;
}


.MuiButton-root.edit-icon {
    position: absolute;
    top: calc(50% - (60px / 2));
    right: calc(50% - (60px / 2));
    background-color: #00000099;
    color: white;

    transition: opacity 0.2s;
}


.MuiBox-root.avatar-and-username {
    margin-top: 100px;
}


.MuiBox-root.main-content {
    padding-top: 80px;
    width: 100%;
}